{% extends "base_topAndBottom.html" %}
{%block js_cart%}
{% load staticfiles %}
<script>
    $.ajaxSetup({
        async : false
    });
    $(function(){

        var total = 0
        var count = 0

        function total_count(){                                 <!--定义函数添加total及count-->
            $('ul.settlements').find('em').text(String(total)); <!--添加总计金额-->
            $('ul.settlements').find('b').text(String(count));  <!--添加末尾总数-->
            $('.total_count').find('em').text(String(count));   <!--添加开头总数-->
        }

            <!--每个商品展示的操作-->
        $("ul.cart_list_td").each(function(){
            var price = parseFloat($(this).children("li.col05").text())*100
            var num = parseInt($(this).find("input.num_show").attr('value'))
            var subtotal = price*num/100

            total = total+subtotal
            count = (count+num)



                <!--单选框操作    -->
            $(this).children("li.col01").children().click(function(){
                if ($(this).is(":checked")) {
                    $(this).prop("checked",true)
                    count += num
                    total = (total*1000+subtotal*1000)/1000
                    total_count()
                }
                else {
                    $(this).prop("checked",false)
                    count -= num
                    total = (total*1000-subtotal*1000)/1000
                    total_count()
                }
            });


                <!--在每个ul中添加li小计-->
            $(this).children("li.col07").text(String(subtotal)+'元')

                <!--初始化添加total及count-->
            total_count()

                <!--点击+input的值增-->
            $(this).find('.add').click(function(){
                num +=1
                count +=1
                subtotal = price*num/100
                total = (total*1000+price*10)/1000

                $(this).next('input').attr({ value: num})       <!--数量增加时改变input的value属性-->
                $(this).parent().parent().next('li').text(String(subtotal)+'元')     <!--数量增加时改变小计-->
                    <!--数量增加时更改total及count-->
                total_count()
            });

                <!--点击-input的值减-->
            $(this).find('.minus').click(function(){
                if(num>1&& $(this).closest('').{
                    num -=1
                    count -=1
                    subtotal = price*num/100
                    total = (total*1000-price*10)/1000

                    $(this).prev('input').attr({ value: num})   <!--数量减少时改变input的value属性-->
                    $(this).parent().parent().next('li').text(String(subtotal)+'元') <!--数量减少时改变小计-->
                        <!--数量减少时更改total及count-->
                    total_count()
                }
            });
                <!--删除-->
            var cart_id = $(this).children('.col03').attr('id')
            $(this).children("li.col08").children('a').click(function(){
                $(this).closest('ul').remove();
                total = (total*1000 - parseFloat($(this).parent().prev('li').text())*1000)/1000
                count -= parseInt($(this).parent().parent().find("input.num_show").attr('value'))
                    <!--删除时更改total及count-->
                total_count()
                $.post("remove_cart/",
                    {
                    "cartid":cart_id,
                    },   function(){
                }
                 );
            });
        });


        <!--去结算点击提交-->
        $("ul.settlements").find('a').click(function(){
            var ototal = $('ul.settlements').find('em').text()
            var goodsinfo = []
            // each函数取出每个ul中商品的信息，将其组成一个字典，push到列表中

            $("ul.cart_list_td").each(function(){
                var dic = {};
                dic['cart_id'] = (this).children('.col03').attr('id')
                dic['goods'] = $(this).children('.col03').text()
                dic['countnum'] = $(this).children('.col06').find('input.num_show').attr('value');
                dic['price'] = $(this).children('.col05').text().split('元')[0]

                if($(this).children('.col01').children().attr('checked')){
                    goodsinfo.push(dic)
                }
            });

            $.post("/cart/to_order/",
                {
                "ototal":ototal,
                "goodsinfo":goodsinfo
                },
                function(data,status){
            });
        });

        <!--全选、取消全选-->

        $("#chkall").click(function(){

            if($(this).is(":checked")){
                $(":checkbox").prop("checked",true)

                total_count()
            }
            else{
                $(":checkbox").prop("checked",false)
                $('ul.settlements').find('em').text(0); <!--添加总计金额-->
            $('ul.settlements').find('b').text(0);  <!--添加末尾总数-->
            $('.total_count').find('em').text(0);
            }
        });
    })
</script>
{%endblock%}
{% block middle %}
{%load staticfiles%}
    <div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
        <div class="search_con fr">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
    </div>

    <div class="total_count">全部商品<em>0</em>件</div>

    <ul class="cart_list_th clearfix">
        <li class="col01">商品名称</li>
        <li class="col02">商品单位</li>
        <li class="col03">商品价格</li>
        <li class="col04">数量</li>
        <li class="col05">小计</li>
        <li class="col06">操作</li>
    </ul>
{%for cart in cartlist %}
    <ul class="cart_list_td clearfix">
        <li class="col01"><input type="checkbox" name=""  checked ></li>
        <li class="col02"><img src="{% static 'images/goods/goods012.jpg' %}"></li>
        <li class="col03" id="{{cart.id}}">{{cart.goods.gtitle}}<br></li>
        <li class="col04">500g</li>
        <li class="col05">{{cart.goods.gprice}}元</li>
        <li class="col06">
            <div class="num_add">
                <a href="javascript:;" class="add fl">+</a>
                <input type="text" class="num_show fl" value="{{cart.count}}">
                <a href="javascript:;" class="minus fl">-</a>
            </div>
        </li>


        <li class="col07">0</li>
        <li class="col08"><a href="javascript:;">删除</a></li>
    </ul>
{%endfor%}

    <ul class="settlements">
        <li class="col01"><input id="chkall" type="checkbox" name=""  checked ></li>
        <li class="col02">全选</li>
        <li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b>2</b>件商品</li>
        <li class="col04"><a href="/order/placeOrder/">去结算</a></li>
    </ul>
{% endblock middle %}
