{% extends "base_bottom.html" %}
{ % comment % }
	二级模板：保存页面头部和底部
{ % endcomment % }

{% block head %}
{# 这里是页面最顶部开始 #}
<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
			{% if uname%}
				<div class="login_info fl">
					欢迎您：<em>{{uname}}</em>
					<a href="/goods/logout/">注销</a>
				</div>
			{% else %}
				<div class="login_btn fl">
					<a href="/goods/login/">登录</a>
					<span>|</span>
					<a href="/goods/register/">注册</a>
				</div>
			{% endif%}

				<div class="user_link fl">
					<span>|</span>
					<a href="/goods/userCenter/">用户中心</a>
					<span>|</span>
					<a href="/goods/cart/">我的购物车</a>
					<span>|</span>
					<a href="/goods/order/">我的订单</a>
				</div>
			</div>
		</div>		
	</div>
	{# 中间展示的内容 #}
	{% block middle %}
	
	{% endblock middle %}

{% endblock head %}