{% extends "base_topAndBottom.html" %}
{ % comment % }
	三级模板：搜索拦后有购物车
{ % endcomment % }

{% block middle %}
<div class="search_bar clearfix">
		<a href="/goods/index/" class="logo fl"><img src="/static/images/logo.png"></a>
		<form method='get' action="/search/" target="_blank">
            <div class="search_con fl">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </div>
        </form>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>

			{% if cartNum%}
				<div class="goods_count fl" id="show_count">{{cartNum}}</div>
			{% else %}
				<div class="goods_count fl">0</div>
			{% endif%}
		</div>
	</div>
	{% block content %}
        {# 此处填写具体功能的页面 #}
    {% endblock content %}
{% endblock %}
