{% extends 'base_usercenter.html'%}

{% block title %}
天天生鲜-用户中心-收货地址
{% endblock %}
{%block js_cart%}
<script type="text/javascript">
$(function(){
    $('.option_addr').mouseenter(function(){
    	$(this).css({cursor:'pointer'})
    })

    $('.option_addr').click(function() {
    	$addr = $('.current_addr');
      var $htm1 = $('.current_addr').text();
    	var $htm2 = $(this).text();
      $(this).text($htm1);
      $addr.text($htm2)

    });
})
</script>
{%endblock%}

{%block class3%}
class="active"
{%endblock%}

{% block right_content %}

<style type="text/css">
	.user_errors,.add_errors {color:#e62e2e;}

</style>

<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						<dt>当前地址:</dt>
						<dd class="current_addr">{{address}}&nbsp;&nbsp;（{{name}}&nbsp;收）&nbsp;&nbsp;{{tel}}</dd>
						{%for addr in addrList %}
						<dt>可选地址:</dt>
						<dd class="option_addr">{{addr.address}}&nbsp;&nbsp;（{{addr.name}}&nbsp;收）&nbsp;&nbsp;{{addr.tel}}</dd>
						{% endfor %}
					</dl>					
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form action="/consumer/recInfoHandle/" method="post">
						<div class="form_group">
							<label>*收件人：</label>
							<input type="text" name="name">
							<div class="user_errors">{{user_errinfo}}</div>
						</div>
						<div class="form_group form_group2">
							<label>*详细地址：</label>
							<textarea class="site_area" name="address"></textarea>
							<div class="add_errors">{{add_errinfo}}</div>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="postcode">
						</div>
						<div class="form_group">
							<label>*手机：</label>
							<input type="text" name="tel">
							<div class="user_errors">{{tel_errinfo}}</div>
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>

{% endblock right_content %}