{% extends 'base_usercenter.html'%}

{% block title %}
天天生鲜-用户中心-个人信息
{% endblock %}

{%block class1%}
class="active"
{%endblock%}

{% block right_content %}
	{# 此处填写用户中心页面中间右侧的信息 #}
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{name}}</li>
							<li><span>联系方式：</span>{{tel}}</li>
							<li><span>联系地址：</span>{{address}}</li>			
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
				{% for goods in latest_goods_list %}
				<li>
					<a href="detail.html"><img src="/static/images/goods/gimgAdd"></a>
					<h4><a href="detail.html">{{goods.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{goods.gprice}}</span>
						<span class="unit">{{goods.gprice}}/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{% endfor %}
				
			</ul>
		</div>
		</div>
{% endblock right_content %}