.popupWindows{
    background-color: #39434B;
    height: 100px;
    width: 120px;
    left: 48.9%;
    top: 48.9%;
    z-index: 9991;
    position: fixed;
    text-align:center;
    line-height:100px;
    color:white;
    border-radius: 24px;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}