{% extends 'goods/base_top_common.html'%}
{% load staticfiles %}
{% block bottomContent%}
	<script type="text/javascript" src="{% static 'js/addCart.js'%}"></script>
    <div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/media/{{goods.gimgDetail}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.gtitle}}</h3>
			<p>{{goods.gdesc}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods.gprice}}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="0">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
				</div>
			</div>
			<div class="total">总价：<em>16.80元</em></div>
			<div class="operate_btn">
				<a href="/goods/immediatelyBuy/{{ goods.id }}" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
                <input type="hidden" name="goods_id" id="goods_id" value="{{ goods.id }}">
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for goods1 in list1%}
						<li>
							<a href="#"><img src="/static/media/{{goods1.gimgAdd}}"></a>
							<h4><a href="#">{{goods1.gtitle}}</a></h4>
							<div class="prize">￥{{goods1.gprice}}</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>
						{{goods.gdetail|safe}}
					</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock bottomContent%}