{% extends 'goods/base_index.html' %}

{ % comment % }
	首页商品展示
{ % endcomment % }

	<!--展示商品-->
{% block shoping %}

{%for goods in list%}
   		<div class="list_model">
			<div class="list_title clearfix">

				<!--预留问老师的问题,-->
				{% for good in goods %}
					{% if forloop.counter|divisibleby:'4'%}
						<h3 class="fl" id="model01">{{good.gtype.ttitle}}</h3>

						<div class="subtitle fl">
						<span>|</span>
						<a href="#">{{good.gtype.title1}}</a>
						<a href="#">{{good.gtype.title2}}</a>
						<a href="#">{{good.gtype.title3}}</a>

				</div>
				<a href="/goods/list/{{good.gtype.id}}" class="goods_more fr" id="fruit_more">查看更多 ></a>
					{% endif %}
				{% endfor %}


		</div>


			<div class="goods_con clearfix">

				{% for good in goods %}
					{% if forloop.counter|divisibleby:'4'%}
						<div class="goods_banner fl"><img src="/static/media/{{good.gtype.tImgAdd}}"></div>
					{% endif %}
				{% endfor %}

					<ul class="goods_list fl">
						{% for good in goods%}
							<li>
								<h4><a href="#">{{good.gtitle}}</a></h4>
								<a href="/goods/detail/{{good.id}}"><img src="/static/media/{{good.gimgAdd}}"></a>
								<div class="prize">¥&nbsp;{{ good.gprice}}</div>
							</li>
						{% endfor %}
					</ul>
			</div>
	</div>
{% endfor %}

{% endblock shoping %}
